<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

  <div style="display: none;">
    <!-- store disabled form elements here, add them after wizard steps as necessary -->

  </div>

  <div id="demo">
    <a href="/wizard"><h2>CensusWizard</h2></a>
	here are the results of your 2010 Census Questionnaire
	
	  
      {% comment %}
      <table>
        <tr>
          <td> Respondent Name: </td>
          <td> {{ entry_dict.first_name }} {{ entry_dict.last_name }} </td>
        </tr>
        <tr>
          <td> Respondent Email: </td>
          <td>{{ entry_dict.email }}</td>
        </tr>
      </table>
      {% endcomment %}

    <pre>
      Respondent Name:          {{ entry_dict.first_name }} {{ entry_dict.last_name }}
      Respondent Email:         {{ entry_dict.email }}
      Respondent Phone:         {{ entry_dict.phone }}
      Residence:                {{ entry_dict.streetaddress }} 
                                {{ entry_dict.streetaddress2 }}
                                {{ entry_dict.city }}, {{entry_dict.state }}   {{ entry_dict.zip }}
      Ownership Type:           {{ entry_dict.ownership }} 

						 
      other list:
      {% for p in people %}
      person {{ forloop.counter }} name:           {{ p.last_name }}
      person {{ forloop.counter }} given name(s):  {{ p.first_name }} {{ p.middle_initial }}
      person {{ forloop.counter }} sex:            {{ p.sex }}
      person {{ forloop.counter }} birthday:       {{ p.birth_month }} {{ p.birth_day }}, {{p.birth_year }}
      person {{ forloop.counter }} hispanic?       {{ p.hispanic }}
      person {{ forloop.counter }} race:           {{ p.race }}
      person {{ forloop.counter }} resident:       {{ p.usual_residence }}
      relation to person 1:     {{ p.relation }}
      {% endfor %}
	  
    </pre>

  </div>
  <a href="{{ logout_url }}">logout</a>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.form.wizard-2.0.0-RC4-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
<!--
-->
  </body>
</html>
